@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Chokokutai&family=Codystar:wght@300;400&family=Doto:wght@256&family=Inconsolata:wdth,wght@200,900&family=Londrina+Sketch&family=Major+Mono+Display&family=Monoton&family=Nova+Mono&family=Rubik+80s+Fade&family=Rubik+Glitch&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne+Mono&family=Tourney:ital,wght@0,100..900;1,100..900&family=Underdog&family=VT323&display=swap');

/* General Styles */
body {
    font-family: 'Major Mono Display', monospace;
    background-color: #000000; /* Terminal dark background */
    color: #f0f0f0;
    margin: 0;
    height: auto;
    width: 100%;
    cursor: none;
}




/***********************
Cursor
***********************/

.cursor-dot {
  width: 15px;
  height: 15px;

  
  color: transparent;
  display: none;
}
.cursor-outline {
  width: 22px;
  height: 22px;
  border: 1px solid rgb(255, 255, 255);
  display: none;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 200;
  pointer-events: none;
}

/***********************
Fonts
***********************/

.tourney-regular {
  font-family: "Tourney", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.doto-regular {
  font-family: "Doto", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "ROND" 0;
}

.inconsolata-black {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "wdth" 200;
  }
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
.syne-mono-regular {
  font-family: "Syne Mono", serif;
  font-weight: 400;
  font-style: normal;
}

.nova-mono-regular {
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
}  

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
  
.rubik-glitch-regular {
  font-family: "Rubik Glitch", serif;
  font-weight: 400;
  font-style: normal;
}

.rubik-80s-fade-regular {
  font-family: "Rubik 80s Fade", serif;
  font-weight: 400;
  font-style: normal;
}

.monoton-regular {
  font-family: "Monoton", serif;
  font-weight: 400;
  font-style: normal;
}

/* ====================================
Loader
==================================== */
/* Loader wrapper to center the loader and cover the entire page */
.loader-wrapper { /* Added for full-page black background and centering */
  position: fixed; /* Keeps the loader in place while scrolling */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0); /* Black background with slight transparency */
  display: flex; /* Flexbox to align items centrally */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  z-index: 9999; /* Ensures it's above all other elements */
}
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -moz-perspective: 500px;
  -webkit-perspective: 500px;
  perspective: 500px;
}

i {
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  opacity: 0;
  background: rgb(0, 255, 42);
  box-shadow: 0px 0px 10px white;
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

i:nth-child(1) {
  -moz-transform: rotate(11.6129deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(11.6129deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(11.6129deg) translate3d(80px, 0, 0);
  transform: rotate(11.6129deg) translate3d(80px, 0, 0);
  animation-delay: 0.04839s;
}

i:nth-child(2) {
  -moz-transform: rotate(23.22581deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(23.22581deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(23.22581deg) translate3d(80px, 0, 0);
  transform: rotate(23.22581deg) translate3d(80px, 0, 0);
  animation-delay: 0.09677s;
}

i:nth-child(3) {
  -moz-transform: rotate(34.83871deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(34.83871deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(34.83871deg) translate3d(80px, 0, 0);
  transform: rotate(34.83871deg) translate3d(80px, 0, 0);
  animation-delay: 0.14516s;
}

i:nth-child(4) {
  -moz-transform: rotate(46.45161deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(46.45161deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(46.45161deg) translate3d(80px, 0, 0);
  transform: rotate(46.45161deg) translate3d(80px, 0, 0);
  animation-delay: 0.19355s;
}

i:nth-child(5) {
  -moz-transform: rotate(58.06452deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(58.06452deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(58.06452deg) translate3d(80px, 0, 0);
  transform: rotate(58.06452deg) translate3d(80px, 0, 0);
  animation-delay: 0.24194s;
}

i:nth-child(6) {
  -moz-transform: rotate(69.67742deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(69.67742deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(69.67742deg) translate3d(80px, 0, 0);
  transform: rotate(69.67742deg) translate3d(80px, 0, 0);
  animation-delay: 0.29032s;
}

i:nth-child(7) {
  -moz-transform: rotate(81.29032deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(81.29032deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(81.29032deg) translate3d(80px, 0, 0);
  transform: rotate(81.29032deg) translate3d(80px, 0, 0);
  animation-delay: 0.33871s;
}

i:nth-child(8) {
  -moz-transform: rotate(92.90323deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(92.90323deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(92.90323deg) translate3d(80px, 0, 0);
  transform: rotate(92.90323deg) translate3d(80px, 0, 0);
  animation-delay: 0.3871s;
}

i:nth-child(9) {
  -moz-transform: rotate(104.51613deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(104.51613deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(104.51613deg) translate3d(80px, 0, 0);
  transform: rotate(104.51613deg) translate3d(80px, 0, 0);
  animation-delay: 0.43548s;
}

i:nth-child(10) {
  -moz-transform: rotate(116.12903deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(116.12903deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(116.12903deg) translate3d(80px, 0, 0);
  transform: rotate(116.12903deg) translate3d(80px, 0, 0);
  animation-delay: 0.48387s;
}

i:nth-child(11) {
  -moz-transform: rotate(127.74194deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(127.74194deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(127.74194deg) translate3d(80px, 0, 0);
  transform: rotate(127.74194deg) translate3d(80px, 0, 0);
  animation-delay: 0.53226s;
}

i:nth-child(12) {
  -moz-transform: rotate(139.35484deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(139.35484deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(139.35484deg) translate3d(80px, 0, 0);
  transform: rotate(139.35484deg) translate3d(80px, 0, 0);
  animation-delay: 0.58065s;
}

i:nth-child(13) {
  -moz-transform: rotate(150.96774deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(150.96774deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(150.96774deg) translate3d(80px, 0, 0);
  transform: rotate(150.96774deg) translate3d(80px, 0, 0);
  animation-delay: 0.62903s;
}

i:nth-child(14) {
  -moz-transform: rotate(162.58065deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(162.58065deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(162.58065deg) translate3d(80px, 0, 0);
  transform: rotate(162.58065deg) translate3d(80px, 0, 0);
  animation-delay: 0.67742s;
}

i:nth-child(15) {
  -moz-transform: rotate(174.19355deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(174.19355deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(174.19355deg) translate3d(80px, 0, 0);
  transform: rotate(174.19355deg) translate3d(80px, 0, 0);
  animation-delay: 0.72581s;
}

i:nth-child(16) {
  -moz-transform: rotate(185.80645deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(185.80645deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(185.80645deg) translate3d(80px, 0, 0);
  transform: rotate(185.80645deg) translate3d(80px, 0, 0);
  animation-delay: 0.77419s;
}

i:nth-child(17) {
  -moz-transform: rotate(197.41935deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(197.41935deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(197.41935deg) translate3d(80px, 0, 0);
  transform: rotate(197.41935deg) translate3d(80px, 0, 0);
  animation-delay: 0.82258s;
}

i:nth-child(18) {
  -moz-transform: rotate(209.03226deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(209.03226deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(209.03226deg) translate3d(80px, 0, 0);
  transform: rotate(209.03226deg) translate3d(80px, 0, 0);
  animation-delay: 0.87097s;
}

i:nth-child(19) {
  -moz-transform: rotate(220.64516deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(220.64516deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(220.64516deg) translate3d(80px, 0, 0);
  transform: rotate(220.64516deg) translate3d(80px, 0, 0);
  animation-delay: 0.91935s;
}

i:nth-child(20) {
  -moz-transform: rotate(232.25806deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(232.25806deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(232.25806deg) translate3d(80px, 0, 0);
  transform: rotate(232.25806deg) translate3d(80px, 0, 0);
  animation-delay: 0.96774s;
}

i:nth-child(21) {
  -moz-transform: rotate(243.87097deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(243.87097deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(243.87097deg) translate3d(80px, 0, 0);
  transform: rotate(243.87097deg) translate3d(80px, 0, 0);
  animation-delay: 1.01613s;
}

i:nth-child(22) {
  -moz-transform: rotate(255.48387deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(255.48387deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(255.48387deg) translate3d(80px, 0, 0);
  transform: rotate(255.48387deg) translate3d(80px, 0, 0);
  animation-delay: 1.06452s;
}

i:nth-child(23) {
  -moz-transform: rotate(267.09677deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(267.09677deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(267.09677deg) translate3d(80px, 0, 0);
  transform: rotate(267.09677deg) translate3d(80px, 0, 0);
  animation-delay: 1.1129s;
}

i:nth-child(24) {
  -moz-transform: rotate(278.70968deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(278.70968deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(278.70968deg) translate3d(80px, 0, 0);
  transform: rotate(278.70968deg) translate3d(80px, 0, 0);
  animation-delay: 1.16129s;
}

i:nth-child(25) {
  -moz-transform: rotate(290.32258deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(290.32258deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(290.32258deg) translate3d(80px, 0, 0);
  transform: rotate(290.32258deg) translate3d(80px, 0, 0);
  animation-delay: 1.20968s;
}

i:nth-child(26) {
  -moz-transform: rotate(301.93548deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(301.93548deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(301.93548deg) translate3d(80px, 0, 0);
  transform: rotate(301.93548deg) translate3d(80px, 0, 0);
  animation-delay: 1.25806s;
}

i:nth-child(27) {
  -moz-transform: rotate(313.54839deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(313.54839deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(313.54839deg) translate3d(80px, 0, 0);
  transform: rotate(313.54839deg) translate3d(80px, 0, 0);
  animation-delay: 1.30645s;
}

i:nth-child(28) {
  -moz-transform: rotate(325.16129deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(325.16129deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(325.16129deg) translate3d(80px, 0, 0);
  transform: rotate(325.16129deg) translate3d(80px, 0, 0);
  animation-delay: 1.35484s;
}

i:nth-child(29) {
  -moz-transform: rotate(336.77419deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(336.77419deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(336.77419deg) translate3d(80px, 0, 0);
  transform: rotate(336.77419deg) translate3d(80px, 0, 0);
  animation-delay: 1.40323s;
}

i:nth-child(30) {
  -moz-transform: rotate(348.3871deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(348.3871deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(348.3871deg) translate3d(80px, 0, 0);
  transform: rotate(348.3871deg) translate3d(80px, 0, 0);
  animation-delay: 1.45161s;
}

i:nth-child(31) {
  -moz-transform: rotate(360deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(360deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(360deg) translate3d(80px, 0, 0);
  transform: rotate(360deg) translate3d(80px, 0, 0);
  animation-delay: 1.5s;
}

i:nth-child(32) {
  -moz-transform: rotate(371.6129deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(371.6129deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(371.6129deg) translate3d(80px, 0, 0);
  transform: rotate(371.6129deg) translate3d(80px, 0, 0);
  animation-delay: 1.54839s;
}

i:nth-child(33) {
  -moz-transform: rotate(383.22581deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(383.22581deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(383.22581deg) translate3d(80px, 0, 0);
  transform: rotate(383.22581deg) translate3d(80px, 0, 0);
  animation-delay: 1.59677s;
}

i:nth-child(34) {
  -moz-transform: rotate(394.83871deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(394.83871deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(394.83871deg) translate3d(80px, 0, 0);
  transform: rotate(394.83871deg) translate3d(80px, 0, 0);
  animation-delay: 1.64516s;
}

i:nth-child(35) {
  -moz-transform: rotate(406.45161deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(406.45161deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(406.45161deg) translate3d(80px, 0, 0);
  transform: rotate(406.45161deg) translate3d(80px, 0, 0);
  animation-delay: 1.69355s;
}

i:nth-child(36) {
  -moz-transform: rotate(418.06452deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(418.06452deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(418.06452deg) translate3d(80px, 0, 0);
  transform: rotate(418.06452deg) translate3d(80px, 0, 0);
  animation-delay: 1.74194s;
}

i:nth-child(37) {
  -moz-transform: rotate(429.67742deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(429.67742deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(429.67742deg) translate3d(80px, 0, 0);
  transform: rotate(429.67742deg) translate3d(80px, 0, 0);
  animation-delay: 1.79032s;
}

i:nth-child(38) {
  -moz-transform: rotate(441.29032deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(441.29032deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(441.29032deg) translate3d(80px, 0, 0);
  transform: rotate(441.29032deg) translate3d(80px, 0, 0);
  animation-delay: 1.83871s;
}

i:nth-child(39) {
  -moz-transform: rotate(452.90323deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(452.90323deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(452.90323deg) translate3d(80px, 0, 0);
  transform: rotate(452.90323deg) translate3d(80px, 0, 0);
  animation-delay: 1.8871s;
}

i:nth-child(40) {
  -moz-transform: rotate(464.51613deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(464.51613deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(464.51613deg) translate3d(80px, 0, 0);
  transform: rotate(464.51613deg) translate3d(80px, 0, 0);
  animation-delay: 1.93548s;
}

i:nth-child(41) {
  -moz-transform: rotate(476.12903deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(476.12903deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(476.12903deg) translate3d(80px, 0, 0);
  transform: rotate(476.12903deg) translate3d(80px, 0, 0);
  animation-delay: 1.98387s;
}

i:nth-child(42) {
  -moz-transform: rotate(487.74194deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(487.74194deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(487.74194deg) translate3d(80px, 0, 0);
  transform: rotate(487.74194deg) translate3d(80px, 0, 0);
  animation-delay: 2.03226s;
}

i:nth-child(43) {
  -moz-transform: rotate(499.35484deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(499.35484deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(499.35484deg) translate3d(80px, 0, 0);
  transform: rotate(499.35484deg) translate3d(80px, 0, 0);
  animation-delay: 2.08065s;
}

i:nth-child(44) {
  -moz-transform: rotate(510.96774deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(510.96774deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(510.96774deg) translate3d(80px, 0, 0);
  transform: rotate(510.96774deg) translate3d(80px, 0, 0);
  animation-delay: 2.12903s;
}

i:nth-child(45) {
  -moz-transform: rotate(522.58065deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(522.58065deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(522.58065deg) translate3d(80px, 0, 0);
  transform: rotate(522.58065deg) translate3d(80px, 0, 0);
  animation-delay: 2.17742s;
}

i:nth-child(46) {
  -moz-transform: rotate(534.19355deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(534.19355deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(534.19355deg) translate3d(80px, 0, 0);
  transform: rotate(534.19355deg) translate3d(80px, 0, 0);
  animation-delay: 2.22581s;
}

i:nth-child(47) {
  -moz-transform: rotate(545.80645deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(545.80645deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(545.80645deg) translate3d(80px, 0, 0);
  transform: rotate(545.80645deg) translate3d(80px, 0, 0);
  animation-delay: 2.27419s;
}

i:nth-child(48) {
  -moz-transform: rotate(557.41935deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(557.41935deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(557.41935deg) translate3d(80px, 0, 0);
  transform: rotate(557.41935deg) translate3d(80px, 0, 0);
  animation-delay: 2.32258s;
}

i:nth-child(49) {
  -moz-transform: rotate(569.03226deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(569.03226deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(569.03226deg) translate3d(80px, 0, 0);
  transform: rotate(569.03226deg) translate3d(80px, 0, 0);
  animation-delay: 2.37097s;
}

i:nth-child(50) {
  -moz-transform: rotate(580.64516deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(580.64516deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(580.64516deg) translate3d(80px, 0, 0);
  transform: rotate(580.64516deg) translate3d(80px, 0, 0);
  animation-delay: 2.41935s;
}

i:nth-child(51) {
  -moz-transform: rotate(592.25806deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(592.25806deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(592.25806deg) translate3d(80px, 0, 0);
  transform: rotate(592.25806deg) translate3d(80px, 0, 0);
  animation-delay: 2.46774s;
}

i:nth-child(52) {
  -moz-transform: rotate(603.87097deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(603.87097deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(603.87097deg) translate3d(80px, 0, 0);
  transform: rotate(603.87097deg) translate3d(80px, 0, 0);
  animation-delay: 2.51613s;
}

i:nth-child(53) {
  -moz-transform: rotate(615.48387deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(615.48387deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(615.48387deg) translate3d(80px, 0, 0);
  transform: rotate(615.48387deg) translate3d(80px, 0, 0);
  animation-delay: 2.56452s;
}

i:nth-child(54) {
  -moz-transform: rotate(627.09677deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(627.09677deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(627.09677deg) translate3d(80px, 0, 0);
  transform: rotate(627.09677deg) translate3d(80px, 0, 0);
  animation-delay: 2.6129s;
}

i:nth-child(55) {
  -moz-transform: rotate(638.70968deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(638.70968deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(638.70968deg) translate3d(80px, 0, 0);
  transform: rotate(638.70968deg) translate3d(80px, 0, 0);
  animation-delay: 2.66129s;
}

i:nth-child(56) {
  -moz-transform: rotate(650.32258deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(650.32258deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(650.32258deg) translate3d(80px, 0, 0);
  transform: rotate(650.32258deg) translate3d(80px, 0, 0);
  animation-delay: 2.70968s;
}

i:nth-child(57) {
  -moz-transform: rotate(661.93548deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(661.93548deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(661.93548deg) translate3d(80px, 0, 0);
  transform: rotate(661.93548deg) translate3d(80px, 0, 0);
  animation-delay: 2.75806s;
}

i:nth-child(58) {
  -moz-transform: rotate(673.54839deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(673.54839deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(673.54839deg) translate3d(80px, 0, 0);
  transform: rotate(673.54839deg) translate3d(80px, 0, 0);
  animation-delay: 2.80645s;
}

i:nth-child(59) {
  -moz-transform: rotate(685.16129deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(685.16129deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(685.16129deg) translate3d(80px, 0, 0);
  transform: rotate(685.16129deg) translate3d(80px, 0, 0);
  animation-delay: 2.85484s;
}

i:nth-child(60) {
  -moz-transform: rotate(696.77419deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(696.77419deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(696.77419deg) translate3d(80px, 0, 0);
  transform: rotate(696.77419deg) translate3d(80px, 0, 0);
  animation-delay: 2.90323s;
}

i:nth-child(61) {
  -moz-transform: rotate(708.3871deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(708.3871deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(708.3871deg) translate3d(80px, 0, 0);
  transform: rotate(708.3871deg) translate3d(80px, 0, 0);
  animation-delay: 2.95161s;
}

i:nth-child(62) {
  -moz-transform: rotate(720deg) translate3d(80px, 0, 0);
  -ms-transform: rotate(720deg) translate3d(80px, 0, 0);
  -webkit-transform: rotate(720deg) translate3d(80px, 0, 0);
  transform: rotate(720deg) translate3d(80px, 0, 0);
  animation-delay: 3s;
}

@keyframes spin {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 0.6;
    transform: translate3d(-4px, -4px, 570px);
  }
}
#black {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

#black:target {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #111;
  cursor: default;
}
#black:target:after {
  content: '';
}
    



/***********************
Layout
***********************/
header {
  width: 100%;
  height: 100%;
  display: block;
  cursor: none;
}

section {
  padding-top: 300px;
  align-items: center;
  animation: fade-in 5s ease-out;
  cursor: none;
}

.go-back {
  position: absolute;
    top: 10%;
    left: 5%;
    color: #ffffff;
    cursor: none;
    display: flex;
}

.avatar {
    position: sticky;
    top: 15%;
    left: 10%;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 2px solid #f0f0f0;
    animation: fade-in 5s ease-out;
}


/* Terminal Box */
.terminal {
    background-color: #000000; /* Slightly lighter for terminal */
    border: #ffffff 1px solid;
    border-radius: 8px;
    padding: 25px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
    width: 55%;
    position: sticky;
    left: 40%;
    top: 35%;
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    animation: fade-in 5s ease-out;
}

/* Row Styling */
.row {
    display: flex; /* Align items in one row */
    align-items: center;
    justify-content: flex-start;
    gap: 0px; /* Add spacing between items */
}

.myname, .myage, .myedu {
    margin-bottom: 30px;
}

/* Text Styling */
.main {
    color: #c9c8e9; /* Green for labels */
    font-weight: bold;
}

.sign {
    color: #ffffff; /* Amber for dollar sign */
    font-weight: bold;
}

.bash {
    color: #14da28; /* White for values */
    flex-grow: 1;
    padding-left: 5px;
}

.loading {
  animation: dot ease-in-out 1s infinite;
  background-color: rgb(0, 255, 47);
  display: inline-block;
  height: 2px;
  margin: 3px;
  width: 2px;
  border-radius: 50%;
}

.loading:nth-of-type(2) {
  animation-delay: 0.2s;
}

.loading:nth-of-type(3) {
  animation-delay: 0.3s;
}


.tool-display-container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  font-family: "Nova Mono", monospace;
  padding-top: 20px;
  background-color: #ffffff;
  animation: fade-in 5s ease-out;
  cursor: none;
}



.tool-display {
  display: flex;
  gap: 20px;
  animation: scroll-horizontal 40s linear infinite;
  background-color: #ffffff;
  width: calc(200%); /* Double the width for smooth looping */
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: none;
}

.tool img {
  margin-bottom: 5px;
  transition: transform 0.3s ease;
}

.tool:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.2);
}

.tool p {
  color: #000000;
  font-size: 12px;
  margin: 0;
  text-align: center;
  font-weight: bold;
}


.heading {
  border-bottom: #ffffff 1px solid;
  position: sticky;
  padding: 20px;
  color: #ffffff;
  font-family: "Rubik 80s Fade", serif;
  font-size: xx-large;
  display: block;
  background-color: #000000; /* Optional: for better visibility of the sticky effect */
  margin: 10px;
}

.projects {
  display: flex;
  margin: 15px;
}

.project-card {
  background-color: #000000;
  border-radius: 8px;
  border: #ffffff 1px solid;
  padding: 25px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
  width: 25%;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  display: block;
  margin: 2%;
}



.project-card h2 {
  font-family: "Tourney", serif;

}

.project-image {
  width: 100%;
  position: sticky;
}

.open {
  border-radius: 10px;
  color: #000000;
  font-family: "Rubik Glitch", serif;
  background-color: #ffffff;
  height: 30px;
  width: 60px;
  cursor: none;
}

.first {
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 130px;
}

.second {
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: end; 
  margin-top: 70px;
}

.third {
  position: sticky;
  display: flex;
  width: 100%;
  justify-content: end;
  margin-top: 35px;
}

footer {
  padding-top: 20px;
  margin-top: 50px;
  border-top: #ffffff 1px solid;
  animation: fade-in 5s ease-out;
}

.contact-disc {
  display: inline-block;
  border-right: #ffffff 1px solid;
  width: 40%;
}

.contact {
  padding-left: 20px;
  font-family: "Doto", serif;
  font-size: x-large;
  margin-bottom: 0px;
}

footer ul a {
  font-family: "Monoton", serif;
  color: #ffffff;
  display: block;
  text-decoration: none;
}

.copyright {
  display: inline-block;
  font-family: "Inconsolata", monospace;
  position: absolute;
  padding: 50px;
}

/***********************
Animations
***********************/
@keyframes dot {
  0% { background-color: rgb(12, 255, 40); transform: scale(1); }
  50% { background-color: #1B1A2D; transform: scale(1.3); }
  100% { background-color: rgb(13, 255, 5); transform: scale(1); }
}

@keyframes scroll-horizontal {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}


@-webkit-keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
}

/************************************
Device-Width
************************************/

@media (max-width:576px) {
  body {
    font-size: 10px;
    background-color: #000000;
  }
  .avatar{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 15%;
    left: 30%;
    animation: none;
  }
  .terminal {
    display: block;
    position: sticky;
    margin-top: 150px;
    width: auto;
    font-size: 8px;
    padding: 5px;
    align-items: center;
    animation: none;
  }

  .tool-display-container {
    animation: none;
  }

  .tool {
    transition: none;
  }

  .tool img {
    transition: none;
  }

  section {
    animation: none;
  }

  footer {
    animation: none;
  }

  .projects {
    display: block;
  }
  .project-image {
    width: 30%;
  }
  .project-card {
    width: 80%;
    height: fit-content;
    padding-top: 0px;
    padding-left: -25x;
    padding-right: 5px;
    padding-bottom: 5px;
    margin: 25px;
  }
 
  .first,.second, .third {
    margin-top: 0px;
    text-decoration: none;
  }
  .open {
    width: 100%;

  }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  body {
    font-size: 15px;
    background-color: #000000;
  }
  .go-back {
    position: absolute;
      top: 10%;
      left: 5%;
      color: #ffffff;
      animation: none;
  }
  .avatar{
    height: 150px;
    width: 150px;
    display: block;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 15%;
    left: 40%;
  }
  .terminal {
    display: block;
    position: sticky;
    margin-top: 100px;
    width: auto;
    font-size: 9.5px;
    padding: 5px;
    align-items: center;
  }
  .projects {
    display: block;
  }
  .project-image {
    width: 30%;
  }
  .project-card {
    width: 80%;
    height: fit-content;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
 
  .first,.second, .third {
    margin-top: 0px;
  }
  .open {
    width: 100%;

  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    font-size: 16px;
    background-color: #000000;
  }
  .go-back {
    position: absolute;
      top: 10%;
      left: 5%;
      color: #ffffff;
      animation: none;
  }
  .avatar{
    height: 150px;
    width: 150px;
    display: block;
    
    position: sticky;
    top: 15%;
    left: 40%;
  }
  .terminal {
    display: block;
    position: sticky;
    margin-top: 150px;
    width: auto;
    font-size: 15px;
    padding: 5px;
    align-items: center;
  }
  .projects {
    display: block;
  }
  .project-image {
    width: 30%;
  }
  .project-card {
    width: 80%;
    height: fit-content;
    padding-top: 0px;
    padding-right: 25px;
    padding-bottom: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }
 
  .first,.second, .third {
    margin-top: 0px;
  }
  .open {
    width: 100%;

  }
  
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    font-size: 17px;
  }

  
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }

}
